<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewControllerMapKey</key>
	<string>ViewController</string>
	<key>SecondViewControllerMapKey</key>
	<string>SecondViewController</string>
	<key>ThirdViewControllerMapKey</key>
	<string>ThirdViewController</string>
	<key>JCLoginViewControllerMapKey</key>
	<string>JCLoginViewController</string>
	<key>HomeStoryboard</key>
	<dict>
		<key>HomeStoryboardMapKey</key>
		<string>home</string>
		<key>FourthViewControllerMapKey</key>
		<string>FourthViewController</string>
	</dict>
	<key>FifthViewControllerMapKey</key>
	<string>FifthViewController</string>
</dict>
</plist>
